/* html body footer */
html, body {
	height: 100%;
	margin: 0; 
	padding: 0;
}

body {
  display : table;
  width: 100%;
  font: 14px Verdana, sans-serif;
}

.bandeau{
	padding: 0px;
	margin: 0px;
	height: 30px;
	background-color: #ff0;
}
.boutonaccueil{position: relative; top: 18%; left: 0%;}
.boutoncontact{position: relative; top: 18%; left: 23%;}
.boutonauteur{position: relative; top: 18%; left: 47%;}

/*les class */ 
div.header {
	margin-left: auto;
    	margin-right: auto;
	background-color: #f00;

}
img {
	margin-left: auto;
    	margin-right: auto;
	background-color: green;
}

footer {
	display : table-row;
	height: 100px; /* à titre d'exemple */
}
/* div */
div
{
	margin: 16px;
	text-align: center;
}
/* h */
h1
{
  font-size: 32px;
  text-shadow: -1px -1px #0c0, 1px 1px #060, -3px 0 4px #000;
  font-family:Arial, Helvetica, sans-serif;
  color: #090;
  padding:16px;
  font-weight:lighter;
  -moz-box-shadow: 2px 2px 6px #888;  
  -webkit-box-shadow: 2px 2px 6px #888;  
  box-shadow:2px 2px 6px #888;  
  text-align:center;
  display:block;
  margin:16px;
}


/* ancre */
a {
  /*
	margin: 0 2px;
  width: 150px;
  height: 20px;
  display: block;
  text-align: center;
  */
  /* border: 1px solid gray; */
  text-decoration: none;
  color: #000;
  background: #fff;
}
a:hover {
  background: #ccc;
  /*border: 1px solid gray; */ 
}
a:active {
  background: gray;
  color: #fff;
}
/* puces */
ul{
  list-style-type:none;
  padding: 0;
  margin: 0;
}
li{
  padding-left: 16px;
}
ul li::before{
  content: "•";
  padding-right: 8px;
  color: green;
}

